[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile.cadence"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[deploy.healthcheck]
initialDelaySeconds = 10
